*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 36pt;
}

/*Edita posicionamento e medida das caixas de Horas, minutos e segundos*/
.relogio{
    /*Posicionamento e medidas*/
    display: flex;
    justify-content: center;
    margin-top: 220px;

    width: auto;
    height: auto;
}

/*Conteudo dentro das caixas*/
.relogio div{
    /*Estilo*/
    color: white;
    box-shadow: 2px 2px 10px 2px rgb(44, 44, 44);
    border-radius: 10px;
    text-align: center;
    text-shadow: 1px 1px 8px rgb(97, 97, 97);
    backdrop-filter: blur(30px); /*Efeito Glassmorphism*/

    /*Poscionamento e medidas*/
    margin-right: 20px;
    line-height: 70px;
    display: grid;
    height: 150px;
    width: 220px;
}

/*Deminuir a fonte da descrição de Horas, minutos e segundos*/
.desc{
    font-size: 30pt;
}